body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #000000;
}

.force-full-height {
  min-height: 100vh;
}

/* ----- NAVIGATION --------------- */

.navigation {
  padding: 5px 5px 50px 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation .logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

.navigation .links {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
}

.home .navigation {
  justify-content: flex-end;
  padding: 5px 5px 5px 5px;
}

.navigation a {
  color: #000000;
  text-decoration: none;
}

.navigation .links a {
  font-size: 0.85em;
  padding: 0 5px;
}

.navigation div {
  padding-right: 10px;
  padding-left: 10px;
}

/* ----- CONTENT ------------------ */
.content-box {
  max-width: 800px;
  padding: 20px 50px;
  box-sizing: border-box;
  margin: auto;
}

.home .content-box {
  max-width: 1000px;
}

/* ----- FOOTER ------------------- */

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 0.7em;
}

.force-full-height footer {
  position: absolute;
  bottom: 0;
}

/* ----- SMALL SCREENS------------- */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }
}

/* ----- MOBILE ------------------- */
@media screen and (max-width: 600px){
  .navigation {
    align-items: center;
    flex-direction: column;
  }

  .navigation a {
    font-size: 1em;
  }

  .links {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  h1 {
    font-size: 1.8em;
  }
}
