body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
}

/* ----- NAVIGATION --------------- */

.navigation {
	padding: 5px;
	display: flex;
	justify-content: flex-end;
	text-transform: uppercase;
}

.navigation a {
	color: #000000;
	text-decoration: none;
	font-size: 0.85em;
	padding: 0 5px;
}

.navigation div {
	padding: 0 10px;
}

/* ----- WELCOME CONTENT ---------- */
/* PORTRAIT ILLUSTRATION */

.molly-and-max {
	position: absolute;
	left: 50px;
	top: 75px;
	z-index: 1;
}

.molly-and-max img {
	max-height: 500px;
}

/* CONTENT */
.welcome {
	height: 375px;
	padding: 0 50px 0 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-family: "Playfair Display", serif;
	font-size: 2.5em;
	font-weight: 400;
	margin-top: 0;
}

.welcome .subtitle {
	font-size: 1.3em;
	max-width: 600px;
}

/* ----- BODY CONTENT ------------- */
.content {
	height: 1000px;
	background-color: #96B78A;
	box-shadow: 0 0 1px 0px #96B78A;
}

/* ----- SMALL SCREENS------------- */
@media screen and (max-width: 900px) {
	.molly-and-max img {
		max-height: 350px;
	}

	.welcome {
		height: 300px;
		padding: 0 50px 0 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	h1 {
		font-size: 2em;
	}
}

/* ----- MOBILE ------------------- */
@media screen and (max-width: 600px){
	.navigation {
		flex-direction: column;
		align-items: center;
	}

	.navigation a {
		font-size: 1em;
	}

	.navigation .external-links {
		padding-top: 10px;
	}

	.molly-and-max {
		position: static;
		text-align: center;
		padding: 10px 0;
	}

	.welcome {
		height: auto;
		padding: 0 10px 20px 10px;
		text-align: center;
	}
}
