@import tokens

.home
  body
    background-color: $background-color

body
  color: $body-font-color
  font-family: $body-font-family, $body-font-type
  font-size: 1em
  font-weight: $body-font-weight
  line-height: 1.5

a
  color: $body-font-color

b
  font-weight: $bold-font-weight

h1, h2, h3, h4, h5, h6
  font-family: $display-font-family, $display-font-type

*:focus
  outline: none

a:focus, button:focus
  background-color: $light-green-semi-opaque

.force-full-height
  min-height: 100vh
  margin-bottom: -36px

fieldset
  padding: 0
  border: none
  outline: none

// ----- NAVIGATION ---------------

.navigation
  background-color: $main-color
  min-height: 41px
  line-height: 36px
  padding: 5px 5px 50px 5px

  .logo h1
    font-size: 1.5em
    font-weight: normal
    margin: 0

  a
    color: $body-font-color
    text-decoration: none

  .links
    display: flex
    align-items: baseline
    text-transform: uppercase

    a
      font-size: 0.85em
      padding: 0 5px

  div
    padding-right: 10px
    padding-left: 10px

  .navigation-wrapper
    display: flex
    justify-content: space-between
    align-items: flex-end
    max-width: 1000px
    margin: 0 auto

.home .navigation
  padding: 5px 5px 5px 5px

  .navigation-wrapper
    justify-content: flex-end

// ----- CONTENT ------------------

.home .content-box
  max-width: 1000px

.content-box
  max-width: 800px
  padding: 20px 50px
  box-sizing: border-box
  margin: 0 auto 50px auto

.in-text-image
  margin: 10px 0
  text-align: center

  img
    width: 100%
    max-width: 500px

// ----- FOOTER -------------------

.copyright-footer
  height: 36px
  box-sizing: border-box
  width: 100%
  text-align: center
  padding: 10px 0
  font-size: 0.7em

// ----- RESUME -------------------

.resume h3
  margin: 0 0 5px 0

.resume-block
  margin-bottom: 30px

.resume-sub-block
  margin-bottom: 15px

dl
  font-size: 0.85em
  margin: 5px 0 0 15px

dt
  font-weight: 400

dd
  dt
    margin-top: 10px
    margin-inline-start: 20px

.line-with-year
  display: flex
  justify-content: space-between

.normal-weight
  font-weight: 300

.year
  font-style: italic

// ----- TWITTER ------------------
.faq-question
  display: inline-block
  margin: 0

  .active
    background-color: $light-green-semi-opaque

.faq-link
  padding-right: 5px
  color: $light-green

.faq-answer
  border-left: 1px solid $grey
  padding-left: 20px

.faq-accordions
  margin: 20px

.accordion
  margin: 10px 0

  .fa-angle-right
    padding-right: 5px

  &:hover
    cursor: pointer
    text-decoration: underline

.accordion-panel
  overflow: hidden
  max-height: 0
  transition: max-height 0.3s ease-out

.sr-only
  border: 0 !important
  clip: rect(1px, 1px, 1px, 1px) !important
  -webkit-clip-path: inset(50%) !important
  clip-path: inset(50%) !important
  height: 1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  width: 1px !important
  white-space: nowrap !important

// ----- SMALLER SCREENS-------------
@media screen and (max-width: 700px)
  h1
    font-size: 2em

  .navigation
    padding: 5px 5px 0px 5px
    line-height: 24px

    .navigation-wrapper
      flex-direction: column
      align-items: center

    a
      font-size: 1em

    .links
      flex-direction: column
      align-items: center
      padding-top: 10px

  .home .navigation .navigation-wrapper
    justify-content: center

  .content-box
    padding: 20px

  .line-with-year
    flex-direction: column

  .faq-answer
    padding-left: 10px

  .faq-accordions
    margin: 10px 0

// ----- TINY MOBILE -------------------
@media screen and (max-width: 350px)
  .internal-links
    display: flex
    flex-direction: column

    a
      text-align: center
