@import tokens

.home
  body
    background-color: $background-color

body
  color: $body-font-color
  font-family: $body-font-family, $body-font-type
  font-size: 1.1em
  font-weight: $body-font-weight
  line-height: 1.5

a
  color: $body-font-color

b
  font-weight: $bold-font-weight

h1, h2, h3, h4, h5, h6
  font-family: $display-font-family, $display-font-type

h2
  font-size: 1.3em

*:focus
  outline: none

a:focus, button:focus
  background-color: $light-green-semi-opaque

.force-full-height
  min-height: 100vh
  margin-bottom: -36px

fieldset
  padding: 0
  border: none
  outline: none

// ----- NAVIGATION ---------------

.navigation
  background-color: $main-color
  padding: 5px 5px 50px 5px

  .logo
    flex-shrink: 0

    h1
      font-size: 1.5em
      font-weight: $body-font-weight-heavier
      margin: 0

  a
    color: $body-font-color
    text-decoration: none

  .links
    font-size: 0.9em
    display: flex
    flex-wrap: wrap
    align-items: baseline
    justify-content: flex-end
    text-transform: uppercase

    a
      font-size: 0.85em
      padding: 0 5px

    .internal-links
      display: flex

    .separated
      border-right: 1px solid $grey
      padding: 0 5px

  .internal-links, .external-links
    padding-right: 10px
    padding-left: 10px

  .navigation-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1000px
    margin: 0 auto

    #expand-navigation-toggle
      display: none // Only show on mobile
      -webkit-appearance: none
      -moz-appearance: none
      background: transparent
      border: none
      padding: 10px
      cursor: pointer
      position: absolute
      top: 0
      right: 0

      i
        font-size: 1.2em

        &.fa-times
          font-size: 1em

.home .navigation
  padding: 5px 5px 5px 5px

  .navigation-wrapper
    justify-content: flex-end

// ----- CONTENT ------------------

.home .content-box
  max-width: 1000px

.content-box
  max-width: 800px
  padding: 20px 50px
  box-sizing: border-box
  margin: 0 auto 50px auto

.in-text-image
  margin: 10px 0
  text-align: center

  img
    width: 100%
    max-width: 500px

.sr-only
  border: 0 !important
  clip: rect(1px, 1px, 1px, 1px) !important
  -webkit-clip-path: inset(50%) !important
  clip-path: inset(50%) !important
  height: 1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  width: 1px !important
  white-space: nowrap !important

// ----- FOOTER -------------------

.copyright-footer
  height: 36px
  box-sizing: border-box
  width: 100%
  text-align: center
  padding: 10px 0
  font-size: 0.7em

  img
    margin: 0
    display: inline

// ----- RESUME -------------------

.resume h3
  margin: 0 0 5px 0

.resume-block
  margin-bottom: 30px

.resume-sub-block
  margin-bottom: 15px

dl
  font-size: 0.85em
  margin: 5px 0 0 15px

dt
  font-weight: $body-font-weight-heavier

dd
  dt
    margin-top: 10px
    margin-inline-start: 20px

.line-with-year
  display: flex
  justify-content: space-between

.normal-weight
  font-weight: $body-font-weight

.year
  font-style: italic

// ----- TWITTER ------------------
.faq-question
  display: inline-block
  margin: 0

  .active
    background-color: $light-green-semi-opaque

.faq-link
  padding-right: 5px
  color: $light-green

.faq-answer
  border-left: 1px solid $grey
  padding-left: 20px

.faq-accordions
  margin: 20px

.accordion
  margin: 10px 0

  .fa-angle-right
    padding-right: 5px

  &:hover
    cursor: pointer
    text-decoration: underline

.accordion-panel
  overflow: hidden
  max-height: 0
  transition: max-height 0.3s ease-out

// ----- PROJECTS -------------------
.projects
  .content-box
    max-width: 1000px
    padding-bottom: 100px

  .project
    margin-top: 50px

    h3
      margin: 0

    .metadata, .link
      font-size: .8em

    .contents-block
      display: flex
      margin-top: 10px

      .contents
        flex: 1
        padding-right: 20px

      .image, .image img
        max-width: 400px

      ul
        margin: 0

// ----- LINK TREE ------------------
.linktree
  width: 100%
  height: 100%

  *
    box-sizing: border-box

  body
    width: 100%
    height: 100%
    background-color: $light-green

  .linktree-content
    max-width: 680px
    margin: 100px auto 0 auto
    width: 100%
    height: 100%
    padding: 24px 12px

    .wrapper
      display: flex
      flex-direction: column
      justify-content: space-between

      a.linktree-link
        display: block
        box-sizing: border-box
        width: 100%
        text-align: center
        text-decoration: none
        line-height: 40px
        background-color: $white
        margin-bottom: 15px
        border: 2px solid $white
        border-radius: 4px
        padding: 5px

        &:hover
          background: rgba(255,255,255,0.4)

      .social-links
        display: flex
        align-items: center
        justify-content: center
        width: 100%

        a
          color: $white
          text-decoration: none
          padding: 0 10px
          font-size: 120%

// ----- ETC ------------------------
.ftx-contagion .content-box
  margin: 0 auto
  max-width: 1250px

  .contagion
    max-width: 1000px

    img
      width: 100%
      min-width: 550px

  .legend img
    max-width: 250px

@media screen and (min-width: 1250px)
  .graphics-wrapper
    display: flex
    flex-direction: row-reverse

// ----- SMALLER SCREENS-------------
@media screen and (max-width: 750px)
  h1
    font-size: 2em

  .navigation
    padding: 5px 5px 0px 5px
    line-height: 24px

    .navigation-wrapper
      flex-direction: column
      align-items: center

    a
      font-size: 1em

    .links
      flex-direction: column
      align-items: center
      padding-top: 10px

      .separated
        padding: 0
        border: none

  .home .navigation .navigation-wrapper
    justify-content: center

  .content-box
    padding: 20px

  .line-with-year
    flex-direction: column

  .faq-answer
    padding-left: 10px

  .faq-accordions
    margin: 10px 0

  .projects .project .contents-block
    flex-direction: column

@media screen and (max-width: 700px) and (min-width: 481px)
  .internal-links
    width: 300px
    flex-wrap: wrap
    justify-content: center

// ----- MOBILE -------------------
@media screen and (max-width: 480px)
  body
    font-weight: $body-font-weight-heavier

  .navigation
    min-height: 30px
    padding-bottom: 5px
    border-bottom: 1px solid $mid-grey

    &.expanded .links
      max-height: 20em

    .navigation-wrapper #expand-navigation-toggle
      display: block

    .links
      max-height: 0px
      overflow: hidden
      transition: max-height 0.3s
      width: 100%

      .internal-links
        flex-direction: column
        width: 100%

        a
          display: block
          text-align: center
          padding: 5px 0

      .external-links
        text-align: center
        padding: 10px 0

        a
          padding: 0 15px

  .projects .project .contents-block
    .image, .image img
      max-width: 100%

  .linktree .linktree-content
    margin: 0 auto

// ----- NO JS ---------------------
.no-js
  #expand-navigation-toggle
    display: none

  @media screen and (max-width: 480px)
    .navigation .links
      display: block
