@use "sass:color"

// Fonts
$display-font-family: "Playfair Display"
$display-font-type: "serif"

$body-font-family: "Lato"
$body-font-type: "sans-serif"
$body-font-weight: 300
$bold-font-weight: 400

// Colors
$black: #000000
$white: #FFFFFF
$light-grey: #F5F5F5
$mid-grey: #EBEBEB
$grey: #CCCCCC
$dark-grey: #666666
$light-green: #96B78A
$light-green-semi-opaque: rgb(150, 183, 138, 0.5)
$light-green-text: color.scale($light-green, $lightness: -25%)

$background-color: $light-green
$body-font-color: $black
$main-color: $white
$contrast-color: $light-green
