block vars
doctype html
html(class=`no-js ${htmlClass}`, lang='en')
  head
    include ../includes/head.pug
    meta(property='og:image', content='https://www.mollywhite.net/images/mollyandmax.png')
    block head

  body
    .force-full-height
      nav.navigation
        .navigation-wrapper
          unless htmlClass === 'home'
            .logo
              h1
                a(href="/") Molly White

          include ../includes/navigation.pug

      block body

    footer
      include ../includes/footer.pug

    block pre-javascript
    script(src='https://kit.fontawesome.com/de718e8b04.js' crossorigin='anonymous')
    script(src=`${importPrefix || ''}/js/main.js`)
    block post-javascript
