block vars
doctype html
html(class=`no-js ${htmlClass}`, lang='en')
  head
    include ../includes/head.pug
    link(rel='stylesheet', href='/css/reviews.css')
    block head

  body
    block body


    block pre-javascript
    script(src='/js/reviews.js')
    block post-javascript
