- var date = new Date();

.blog-image
  img(src='../images/mollyandmax-350px.png', alt='Illustration of Molly White holding her cat Max.')
.logo
  | Molly White
.links
  a(href="post-index.html") Post index
  a(href="archive.html") Archived posts
.copyright
  | Copyright © Molly White&nbsp;
  = date.getFullYear()