meta(charset='utf-8')
meta(property='og:title', content='Molly White')
meta(property='og:image', content='https://www.mollywhite.net/images/mollyandmax.png')
meta(property='og:site_name', content='Molly White')
meta(property='og:locale', content='en_US')
meta(property='og:type', content='profile')
meta(property='og:url', content='https://www.mollywhite.net/')
meta(property='og:description', content='Molly White is a software developer and tech lead based in Boston, Massachusetts.')
meta(name='description', content='Molly White is a software developer and tech lead based in Boston, Massachusetts.')
meta(name='viewport', content='width=device-width, initial-scale=1')
title Molly White
link(rel='apple-touch-icon', sizes='180x180', href='/images/icons/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/images/icons/favicon-16x16.png')
link(rel='manifest', href='/site.webmanifest')
link(rel='stylesheet', href='css/normalize.css')
link(href='https://fonts.googleapis.com/css?family=Lato:300|Playfair+Display', rel='stylesheet')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/brands.css', integrity='sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv', crossorigin='anonymous')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css', integrity='sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq', crossorigin='anonymous')
link(rel='stylesheet', href='css/main.css')
link(rel='stylesheet', href='css/home.css')
meta(name='theme-color', content='#96B78A')
