button#expand-navigation-toggle(aria-controls="navigation-links") 
  i.fas.fa-bars
  span.sr-only Expand navigation
.links#navigation-links(role="region")
  .internal-links
    .separated
      a(href='https://blog.mollywhite.net') Essays  
      a(href='https://newsletter.mollywhite.net') Newsletter
      a(href='/reading') Reading
    .separated
      a(href="/projects") Projects 
      a(href='/wikipedia-work') Wikipedia
    .separated
      a(href='/press') Press
      a(href='/resume') Resume
      a(href='/contact') Contact
  .external-links
    a(href='https://twitter.com/molly0xFFF', aria-label='Twitter')
      i.fab.fa-twitter(aria-hidden='true', title='Twitter')
    a(href='https://twitter.com/molly0xFFF', aria-label='Patreon')
      i.fab.fa-patreon(aria-hidden='true', title='Patreon')
    a(href='https://www.linkedin.com/in/mollyawhite/', aria-label='LinkedIn')
      i.fab.fa-linkedin(aria-hidden='true', title='LinkedIn')
    a(href='https://github.com/molly', aria-label='GitHub')
      i.fab.fa-github(aria-hidden='true', title='GitHub')
    a(href='https://en.wikipedia.org/wiki/User:GorillaWarfare', aria-label='Wikipedia')
      i.fab.fa-wikipedia-w(aria-hidden='true', title='Wikipedia')
