.links
  .internal-links
    a(href='https://blog.mollywhite.net') Writing
    a(href='/reading') Reading
    a(href='/press') Press
    a(href='/resume') Resume
    a(href='/contact') Contact
  .external-links
    a(href='https://twitter.com/molly0xFFF', aria-label='Twitter')
      i.fab.fa-twitter(aria-hidden='true', title='Twitter')
    a(href='https://www.linkedin.com/in/mollyawhite/', aria-label='LinkedIn')
      i.fab.fa-linkedin(aria-hidden='true', title='LinkedIn')
    a(href='https://github.com/molly', aria-label='GitHub')
      i.fab.fa-github(aria-hidden='true', title='GitHub')
    a(href='https://en.wikipedia.org/wiki/User:GorillaWarfare', aria-label='Wikipedia')
      i.fab.fa-wikipedia-w(aria-hidden='true', title='Wikipedia')
