mixin titleAndDescription(title, description)
  title= title || "Molly White"
  meta(property='og:title', content=title || "Molly White")
  if description
    meta(property='og:description', content=description)
    meta(name='description', content=description)