extends ../templates/base.pug

block vars
  - var htmlClass = 'contact';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription('Contact', 'Contact information for Molly White, a software engineer and Wikipedia editor.')

block body
  .content-box
    p
      | The best way to get in touch with me is via email to 
      a(href='mailto:molly.white5@gmail.com') molly.white5@gmail.com
      |.
    p
      | If you want to get in touch with me about something to do with Wikipedia, please 
      a(href='https://en.wikipedia.org/wiki/User_talk:GorillaWarfare') leave a message on my Wikipedia talk page
      |  or email me at 
      a(href='mailto:gorillawarfarewikipedia@gmail.com') gorillawarfarewikipedia@gmail.com
      | . However, please note that if you are emailing me because you're hoping to discuss the content of a Wikipedia page, I will almost certainly ask you to bring the discussion to the article talk page on Wikipedia where all editors can weigh in. You may wish to read this 
      a(href='/wikipedia-concern') FAQ of sorts
      |  before beginning such a discussion.
