extends ../templates/base.pug

block body
  .content-box
  p
    | The best way to get in touch with me is via email to 
    a(href='mailto:molly.white5@gmail.com') molly.white5@gmail.com
    | . You can also 
    a(href='https://twitter.com/molly0x57') tweet at me
    |  or 
    a(href='https://www.linkedin.com/in/mollyawhite/') send me a message on LinkedIn
    | , but I may not see it as quickly.
  p
    | If you want to get in touch with me about something to do with Wikipedia, please email me at 
    a(href='mailto:gorillawarfarewikipedia@gmail.com') gorillawarfarewikipedia@gmail.com
    |  or 
    a(href='https://en.wikipedia.org/wiki/User_talk:GorillaWarfare') leave a message on my Wikipedia talk page
    | .
