extends ../templates/base.pug

block vars
  - var htmlClass = 'crypto-disclosure';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription('Disclosures', 'Disclosures for articles I write about cryptocurrencies and related topics.')

block body
  .content-box
    h2 Disclosures
    p I strongly believe in clear disclosures by journalists and others writing about cryptocurrencies and related topics. All outlets publishing cryptocurrency-related articles should have very clear and prominently-displayed disclosure policies.
    p 
      | I own no cryptocurrencies or NFTs. I do have a
      a(href="https://www.patreon.com/mollywhite" target="_blank") Patreon
      |, where some enormously generous people support my work. This includes the writing and research I do pertaining to crypto, as well as all of my other various and sundry interests. There is more detail on this in [Issue 0](https://newsletter.mollywhite.net/issue-0/) of my newsletter, _Whitespace_.
    p 
      | Besides the general Patreon support, I am not paid to write about cryptocurrencies or related topics, nor am I paid to create my 
      a(href='http://web3isgoinggreat.com/' target="_blank") Web3 Is Going Great project
      | . I don't post sponsored content on that website, its associated Twitter account, this website, my blog, my personal Twitter account, or anywhere else. This will not change. No, I won't promote your project regardless of whether there is money changing hands, so please don't ask.
    p A few generous people have sent money for W3IGG's cloud hosting and various other upkeep costs, which I otherwise pay out of pocket. There is more information on this, along with a brief expenses report, at the 
      a(href='https://web3isgoinggreat.com/contribute' target="_blank") W3IGG&nbsp;–&nbsp;Contribute
      |  page. I don't run ads or otherwise directly monetize the site or my blog.
    p My professional work has nothing to do with cryptocurrencies, blockchains, or finance.
    p I hold no long or short positions pertaining to cryptocurrencies or crypto-related companies. I do have some investments in the stock market and other traditional forms of finance, which I pay someone much smarter about and more interested in finance than I am to handle.
    p For those who think it is crucial to have interacted with crypto to write about it: 1) you are wrong, but 2) you will be pleased to know that I went through the process of signing up for a Coinbase account and buying one popular cryptocurrency and one shitcoin towards the end of 2021, around when I was starting my deeper research into this space. I sold all of them a week and a half later and closed the account. I made a whopping profit of $16.90 off the whole endeavor (pre-tax).
    hr
    p While we're here, I'll mention that I don't speak on behalf of my employer or anyone else. I hope it goes without saying, but just to say it: nothing I say should be taken to be financial, investment, legal, professional, or any other kind of advice.