extends ../templates/base.pug

block vars
  - var htmlClass = 'home';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription(null, 'Molly White is a senior software engineer.')

block body
  .welcome-section
    .welcome-container
      #molly-and-max.molly-and-max
        img(src='images/mollyandmax.png', alt='Illustration of Molly White holding her cat Max.')
      section.welcome
        h1 My name is Molly White.
        span.subtitle
          span I am a senior software engineer
          span#description
          span .
          
  section.content
    .content-box
      p
        | Recently I have been doing a lot of
        |
        a(href="https://blog.mollywhite.net/blockchain/" target="_blank") writing
        |
        | and
        |
        a(href="https://www.mollywhite.net/press" target="_blank") speaking
        |
        | about crypto and "web3", which I also cover in my website
        |
        a(href="http://web3isgoinggreat.com/" target="_blank")
          i Web3 is Going Just Great
        |.
      p
        | I am also a longtime editor of the English Wikipedia, where I edit under the username 
        |
        a(href='https://en.wikipedia.org/wiki/User:GorillaWarfare' target="_blank") GorillaWarfare
        | . I am an administrator and  
        |
        a(href='https://en.wikipedia.org/wiki/Wikipedia:Functionaries' target="_blank") functionary
        |, and previously served three terms on the  
        |
        a(href='https://en.wikipedia.org/wiki/Wikipedia:Arbitration_Committee' target="_blank") Arbitration Committee
        | . I care deeply about providing free and open access to high-quality information, and this is something I try to do both through my Wikipedia activities and
        |
        a(href="/projects" target="_blank") various other projects.

block footer
  |  Illustration © Cam Schroeder 2018.