extends ../templates/base.pug

block vars
  - var htmlClass = 'home';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription(null, 'Molly White is a software developer and tech lead based in Massachusetts.')

block body
  .welcome-section
    .welcome-container
      #molly-and-max.molly-and-max
        img(src='images/mollyandmax.png', alt='Illustration of Molly White holding her cat Max.')
      section.welcome
        h1 My name is Molly White.
        span.subtitle I build software and lead teams.
  section.content
    .content-box
      p
        | I am an experienced software developer and technical lead. I currently lead a team developing the frontend experience for <a href="https://www.hubspot.com" target="_blank" rel="noreferrer">HubSpot</a>'s developer tools and documentation.
      p
        | I am also a longtime editor of the English Wikipedia, where I edit under the username 
        a(href='https://en.wikipedia.org/wiki/User:GorillaWarfare') GorillaWarfare
        | . I am an administrator and&nbsp;
        a(href='https://en.wikipedia.org/wiki/Wikipedia:Functionaries') functionary
        |, as well as a former member of the 
        a(href='https://en.wikipedia.org/wiki/Wikipedia:Arbitration_Committee') Arbitration Committee
        | , on which I served three terms. I care deeply about providing free and open access to high-quality information, and this is something I try to do both through my Wikipedia activities and various other projects (including&nbsp;
        a(href="/projects") these
        |).
      p
        | I am passionate about supporting members of underrepresented groups in technology, both as a part of and outside of my professional career. This applies both to people who work in or wish to work in technology, but also to those who simply wish to exist online without facing harassment and abuse.

block footer
  |  Illustration © Cam Schroeder 2018.

block pre-javascript
  script(src='js/rellax.min.js')
