extends ../templates/base.pug

block vars
  - var htmlClass = 'home';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription(null, 'Molly White is a senior software engineer.')

block body
  .welcome-section
    .welcome-container
      #molly-and-max.molly-and-max
        img(src='images/mollyandmax.png', alt='Illustration of Molly White holding her cat Max.')
      section.welcome
        h1 My name is Molly White.
        span.subtitle
          span I am a senior software engineer
          span#description
          span .

block footer
  |  Illustration © Cam Schroeder 2018.