extends ../templates/base.pug

block vars
  - var htmlClass = 'reading-landing';

block body
  .content-box
    p
      | Interested in what I'm reading these days? Check out my reading lists.
    ul 
      li
        a(href="/reading/dib") DI&amp;B reading list
      li
        a(href="/reading/wikipedia") Books I'm reading for my work on Wikipedia