extends ../templates/base.pug

block vars
  - var htmlClass = 'contact';

block body
  .content-box
    p
      | If you want to get in touch with me about something to do with Wikipedia, please email me at 
      a(href='mailto:gorillawarfarewikipedia@gmail.com') gorillawarfarewikipedia@gmail.com
      |  or 
      a(href='https://en.wikipedia.org/wiki/User_talk:GorillaWarfare') leave a message on my Wikipedia talk page
      |.
    p
      | For non-Wikipedia-related matters, the best way to get in touch with me is via email to 
      a(href='mailto:molly.white5@gmail.com') molly.white5@gmail.com
    p
      | You can also find me on 
      a(href='https://twitter.com/molly0xFFF') Twitter
      |.
    p
      | For people trying to comply with Wikipedia's policy on 
      a(href='https://en.wikipedia.org/wiki/Wikipedia:Harassment#Posting_of_personal_information') linking to accounts on other websites (WP:OUTING)
      | , I have disclosed my account names on Wikipediocracy (
      a(href='http://wikipediocracy.com/forum/memberlist.php?mode=viewprofile&u=632&sid=1d10a5d1e8c32f5cdd19bdef33274450') GorillaWarfare
      | ), Reddit (
      a(href='https://www.reddit.com/user/watchfulprotector') watchfulprotector
      | ), and Instagram (
      a(href='https://www.instagram.com/molly0xFFF/') molly0xFFF
      | ). I consider any links from this website to be "disclosed" as well, so my LinkedIn (
      a(href='https://www.linkedin.com/in/mollyawhite/') mollyawhite
      | ) and Github (
      a(href='https://github.com/molly') molly
      | ) accounts can be linked on-wiki if for whatever reason they seem to be relevant. I don't use the username "GorillaWarfare" widely outside of Wikimedia contexts, so most accounts on other websites with that username are not mine.
