extends ../templates/base.pug

block vars
  - var htmlClass = 'contact';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription('Contact', 'Wikipedia-specific contact information for Molly White, a software engineer and Wikipedia editor.')

block body
  .content-box
    p
      | If you want to get in touch with me about something to do with Wikipedia, please 
      a(href='https://en.wikipedia.org/wiki/User_talk:GorillaWarfare') leave a message on my Wikipedia talk page
      |  or email me at 
      a(href='mailto:gorillawarfarewikipedia@gmail.com') gorillawarfarewikipedia@gmail.com
      |. I am 
      a(href='https://discord.com/users/298979974029901827') GorillaWarfare
      |  in the Wikimedia Discord server. Please note that if you are contacting me off-wiki in hopes of discussing the content of a Wikipedia page, I will almost certainly ask you to bring the discussion to the article talk page on Wikipedia where all editors can weigh in. You may wish to read this 
      a(href='/wikipedia-concern') FAQ of sorts
      |  before beginning such a discussion.
    p
      | For non-Wikipedia-related matters, the best way to get in touch with me is via email to 
      a(href='mailto:molly.white5@gmail.com') molly.white5@gmail.com
      |.
    p
      | You can also find me on 
      a(href='https://twitter.com/molly0xFFF') Twitter
      |, although if you are hoping to tweet at me about a Wikipedia-related topic please see my 
      a(href='/wikipedia-concern') page discussing this
      |  first.
    p
      | For people trying to comply with Wikipedia's policy on 
      a(href='https://en.wikipedia.org/wiki/Wikipedia:Harassment#Posting_of_personal_information') linking to accounts on other websites (WP:OUTING)
      | , the following accounts are mine and can be considered to be self-disclosed and safe to mention on-wiki:
      ul
        li Discord: 
          a(href='https://discord.com/users/298979974029901827') GorillaWarfare
          |  (or a close variation) on the 
          a(href='https://en.wikipedia.org/wiki/Wikipedia:Discord') Wikimedia server
          |. Check the user link if you're not sure if someone is me.
        li Facebook: molly0xfff<sup><a href="#footnote1">[1]</a></sup>
        li Github: 
          a(href='https://github.com/molly') molly
        li Instagram: molly0xfff<sup><a href="#footnote1">[1]</a></sup>
        li IRC: 
          ul
            li Freenode:
              code GorillaWarfare@wikipedia/gorillawarfare
              |  (no longer used)
            li Libera Chat: 
              code GorillaWarfare@wikipedia/gorillawarfare
              |  (rarely online these days)
        li LinkedIn: 
          a(href='https://www.linkedin.com/in/mollyawhite/') mollyawhite
        li Polywork: 
          a(href='https://www.polywork.com/molly0xfff') molly0xfff
        li Reddit: 
          a(href='https://www.reddit.com/user/watchfulprotector') watchfulprotector
        li Twitch: 
          a(href='https://twitch.tv/molly0xFFF') molly0xfff
        li Twitter: 
          a(href='https://twitter.com/molly0xFFF') molly0xfff
        li Wikipediocracy: 
          a(href='http://wikipediocracy.com/forum/memberlist.php?mode=viewprofile&u=632&sid=1d10a5d1e8c32f5cdd19bdef33274450') GorillaWarfare
        li Wire: molly0xfff

    p
      | I consider any links to my accounts from this website to be self-disclosed, even if I forget to add them to this list. 
      | I don't use the username "GorillaWarfare" widely outside of Wikimedia contexts, so most accounts on other websites with that username are not mine.

    p
      sup
        a(id="#footnote1") [1]</a>
      |  These are private accounts, and I don't accept friend/follow requests from people I don't know personally. If you want to follow me on social media, feel free to follow my Twitter account.
      