extends ../templates/base.pug

block vars
  - var htmlClass = 'contact';

block head 
  include ../mixins/titleAndDescription.pug
  +titleAndDescription('Contact', 'Wikipedia-specific contact information for Molly White, a software engineer and Wikipedia editor.')

block body
  .content-box
    p
      | If you want to get in touch with me about something to do with Wikipedia, please 
      a(href='https://en.wikipedia.org/wiki/User_talk:GorillaWarfare') leave a message on my Wikipedia talk page
      |  or email me at 
      a(href='mailto:gorillawarfarewikipedia@gmail.com') gorillawarfarewikipedia@gmail.com
      |. I also use the nickname GorillaWarfare on IRC (Libera.Chat network, cloak 
      code @wikipedia/GorillaWarfare
      |), though I am rarely online these days and don't check my awaylog often. I am 
      a(href='https://discord.com/users/298979974029901827') GorillaWarfare
      |  in the Wikimedia Discord server. Please note that if you are contacting me off-wiki in hopes of discussing the content of a Wikipedia page, I will almost certainly ask you to bring the discussion to the article talk page on Wikipedia where all editors can weigh in. You may wish to read this 
      a(href='/wikipedia-concern') FAQ of sorts
      |  before beginning such a discussion.
    p
      | For non-Wikipedia-related matters, the best way to get in touch with me is via email to 
      a(href='mailto:molly.white5@gmail.com') molly.white5@gmail.com
      |.
    p
      | You can also find me on 
      a(href='https://twitter.com/molly0xFFF') Twitter
      |, although if you are hoping to tweet at me about a Wikipedia-related topic please see my 
      a(href='/wikipedia-concern') page discussing this
      |  first.
    p
      | For people trying to comply with Wikipedia's policy on 
      a(href='https://en.wikipedia.org/wiki/Wikipedia:Harassment#Posting_of_personal_information') linking to accounts on other websites (WP:OUTING)
      | , I have disclosed my account names on Wikipediocracy (
      a(href='http://wikipediocracy.com/forum/memberlist.php?mode=viewprofile&u=632&sid=1d10a5d1e8c32f5cdd19bdef33274450') GorillaWarfare
      | ), Reddit (
      a(href='https://www.reddit.com/user/watchfulprotector') watchfulprotector
      | ), and Instagram (
      a(href='https://www.instagram.com/molly0xFFF/') molly0xFFF
      | ). I consider any links from this website to be "disclosed" as well, so my LinkedIn (
      a(href='https://www.linkedin.com/in/mollyawhite/') mollyawhite
      | ) and Github (
      a(href='https://github.com/molly') molly
      | ) accounts can be linked on-wiki if for whatever reason they seem to be relevant. I don't use the username "GorillaWarfare" widely outside of Wikimedia contexts, so most accounts on other websites with that username are not mine.
